.labelClass {
    text-align: start;
    display: inline-block;
    margin-right: 0%;
    width: 60%;
}


/* Everything concerning the form*/

.connexionForm {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: solid var(--white) 2px;
    border-right: solid var(--white) 2px;
    border-radius: 5px;
    background-color: var(--blackTransparent);
    color: var(--white);
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 1%;
}

.connexionFormInput {
    border: solid var(--white) 2px;
    border-radius: 5px;
    width: 10em;
}

.connexionFormInput:hover {
    background-color: var(--whiteTransparent);
    color: var(--black);
}

.connexionFormInput:focus {
    background-color: var(--whiteTransparent);
    color: var(--black);
}

.connexionFormLinks {
    color: var(--white);
}

.connexionFormLinks:hover {
    color: var(--whiteTransparent);
}

.connexionFormLinks:visited {
    color: var(--white);
}

#noRegister {
    display: inline-block;
}

#connexionFormButton {
    border: solid var(--white) 2px;
    border-radius: 5px;
    width: 10em;
    margin-bottom: 5%;
}

#connexionFormButton:hover {
    background-color: var(--whiteTransparent);
    color: var(--black);
}

#firstInput {
    margin-top: 5%;
}

#lastInput {
    margin-bottom: 5%;
}

@media screen and (max-width: 800px) {
    .connexionFormInput {
        width: 10em;
    }
    #connexionFormButton {
        width: 10em;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    .connexionForm {
        width: 15em;
    }
    .labelClass {
        text-align: center;
        width: 100%;
    }
}