/* Everything concerning the container/ the position  and the size of the images */

.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.containerPoster {
    position: relative;
    text-align: center;
    margin: 1em;
}

.containerPoster a {
    width: 100%;
}

.containerPoster img {
    border-radius: 0.5em;
}

.catNoView {
    display: none;
}

.catView {
    display: initial;
}

.imgLandscape {
    width: 20em;
}

.imgPortrait {
    width: 15em;
}


/* Overlay's css style */

.overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0.5em;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease-in-out;
    text-decoration: none;
    color: white;
}

.overlayLandscape {
    height: 97.7%;
}

.overlayPortrait {
    height: 98.7%;
}

.containerPoster:hover .overlay {
    opacity: 1;
}

.overlay p {
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
}

.pays {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3em;
}


/* Style and position of the selection buttons */

button {
    background-color: var(--blackTransparent);
    color: var(--white);
    border: solid 0.2em var(--blackTransparent);
    border-radius: 0.2em;
    padding: 0.7em 2.5em 0.7em 1.2em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 3em;
    font-size: 0.7em;
    appearance: none;
    outline: none;
}

button:hover {
    border-color: var(--white);
}

button:focus {
    border-color: var(--white);
}

.copyrights {
    color: var(--white);
    text-align: center;
}