#lastInput {
    margin-bottom: 1em;
}

main section div {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}


/* Title of the form */

p {
    margin-bottom: 0.5em;
    color: var(--white);
}

p.bold {
    font-weight: bold;
}


/* Everything concerning the form*/

section {
    border-bottom: var(--white) 2px solid;
    border-right: var(--white) 2px solid;
    border-radius: 0.3em;
    background-color: var(--blackTransparent);
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13em;
    margin-bottom: 15em;
    color: var(--white);
    width: 30%;
}


/* Responsive */

@media all and (max-width: 1500px) {
    section {
        width: 40%;
    }
}

@media all and (max-width: 1150px) {
    section {
        width: 50%;
    }
}

@media all and (max-width: 900px) {
    section {
        width: 60%;
    }
}

@media all and (max-width: 750px) {
    section {
        width: 80%;
    }
}