.flexForum {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* Separation between the different sections */

section {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3em;
}

section a {
    text-decoration: none;
    color: var(--black);
}

.sub {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 1.8em;
    padding-left: 1.8em;
}

.sub:hover {
    background-color: var(--whiteTransparent);
}

.separatorSub {
    border-bottom: solid 1px var(--white);
    margin: auto;
    width: 97%;
}

h4 {
    max-width: 35em;
    padding-bottom: 0.4em;
}


/* Body */

.bodyBackground {
    background-color: var(--blackTransparent);
}


/* Category */

.boxCategory {
    border-right: solid 0.1em var(--white);
    border-left: solid 0.1em var(--white);
    border-bottom: solid 0.1em var(--white);
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    margin-top: 6em;
    margin-bottom: 6em;
}

.headerCategory {
    font-size: 1.5em;
    padding: 0.5em;
    border-bottom: solid 4px var(--white);
    border-top-left-radius: 0.2em;
    border-top-right-radius: 0.2em;
    padding-left: 1em;
    padding-right: 1em;
}

.subCategoryInformation {
    max-width: 45em;
}


/* Subcategory */

h2 {
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
}

.rightInformation {
    display: inline-flex;
    font-size: 0.7em;
}

.rightInformation h3 {
    margin-left: 1em;
}

.rightInformation p {
    font-size: 1.3em;
}

.rightInformation p.activity {
    margin-right: 1.7em;
}

.rightInformation p.view {
    margin-right: 3.8em;
}

.rightInformation p.reply {
    margin-right: 4.5em;
}


/* Topic */

.topicMessage {
    border-bottom: solid 1px var(--white);
}

.flexTopic {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flexTopicCenter {
    justify-content: center;
}

.flexTopicStart {
    justify-content: flex-start;
}

.flexTopicSpaceBetween {
    justify-content: space-between;
}

.userMessageInformation {
    margin-top: 0.5em;
}

.flexTopic img {
    width: 5em;
    border-radius: 3em;
    border: solid 1px var(--black);
    margin-left: 1em;
}

.flexTopic p.name {
    font-size: 1.3em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.flexTopic p.message {
    font-size: 1.1em;
    margin: 1em;
}

.flexTopic p.date {
    font-size: 1.1em;
    margin-bottom: 0.25em;
    margin-left: 0.5em;
}

.flexTopic p.like {
    font-size: 1.1em;
    margin-bottom: 0.25em;
    margin-right: 0.5em;
}

.like {
    font-size: 2em;
    margin-bottom: 0.1em;
    color: var(--white);
}

.topicMessageReply {
    padding: 1em;
}

.flexTopic h5 {
    font-size: 1.5em;
}

.flexTopic textarea {
    width: 40em;
    height: 10em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.flexTopic button {
    background-color: var(--white);
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 1em;
    width: 8em;
    text-align: center;
}

.topic {
    font-size: 1.5em;
    margin-right: 1em;
}

.topicTitle {
    font-size: 2em;
    text-align: center;
    margin-top: 0.5em;
}


/* Responsive */

@media all and (max-width: 1100px) {
    h4 {
        max-width: 24em;
    }
    /* Main */
    main {
        margin-bottom: 8em;
    }
    /* Category */
    .subCategoryInformation {
        max-width: 30em;
    }
}

@media all and (max-width: 830px) {
    h4 {
        max-width: 15em;
    }
    /* Category */
    .subCategoryInformation {
        max-width: 17em;
    }
}

@media all and (max-width: 640px) {
    h4 {
        max-width: 9em;
    }
}

@media all and (max-width: 545px) {
    section {
        margin-top: 2em;
        width: 90%;
    }
    /* Category */
    .subCategoryInformation {
        max-width: 13em;
    }
    /* Subcategory */
    h2 {
        font-size: 2em;
    }
    /* Topic */
    .userMessageInformation {
        justify-content: center;
    }
    .flexTopic p.name {
        margin-top: 0.5em;
        font-size: 1.2em;
    }
}

@media all and (max-width: 450px) {
    .sub {
        padding-right: 1em;
        padding-left: 1em;
        font-size: 0.8em;
    }
    /* Category */
    .headerCategory {
        font-size: 1em;
    }
    /* Subcategory */
    .rightInformation {
        font-size: 0.4em;
    }
    .rightInformation p {
        font-size: 1.5em;
    }
    .rightInformation p.view {
        margin-right: 2.4em;
    }
    .rightInformation p.reply {
        margin-right: 3em;
    }
}