main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blackTransparent);
    color: var(--white);
    text-align: center;
}


/* Position for the title */

.titre {
    padding-top: 0.3em;
    margin-top: 2em;
    font-size: 2em;
}

h5 {
    margin-top: 1em;
    font-size: 1.6em;
}

p {
    margin-top: 0.5em;
    font-size: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 0.8em;
}