#lastInput {
    margin-bottom: 1em;
}

main form div {
    display: flex;
    justify-content: center;
    padding-top: 1em;
}


/* Title of the form */

h2 {
    margin-bottom: 0.5em;
    color: var(--white);
}


/* Everything concerning the form*/

form {
    border-bottom: var(--white) 2px solid;
    border-right: var(--white) 2px solid;
    border-radius: 0.3em;
    background-color: var(--blackTransparent);
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13em;
    margin-bottom: 15em;
    color: var(--white);
    width: 30%;
}

input {
    border: var(--black) 2px solid;
    border-radius: 0.3em;
    width: 20em;
}

input:hover {
    border: var(--grey) 2px solid;
    box-shadow: var(--black) 3px 3px 5px;
    background-color: var(--white);
}

input:focus {
    border: var(--grey) 2px solid;
    box-shadow: var(--black) 3px 3px 5px;
    background-color: var(--white);
}

label {
    width: 9em;
}

textarea {
    border: var(--black) 2px solid;
    border-radius: 0.3em;
    width: 31em;
    margin-bottom: 1em;
    font-family: sans-serif;
}

textarea:hover {
    border: var(--grey) 2px solid;
    box-shadow: var(--black) 3px 3px 5px;
    background-color: var(--white);
}

textarea:focus {
    border: var(--grey) 2px solid;
    box-shadow: var(--black) 3px 3px 5px;
    background-color: var(--white);
}

button {
    border: var(--black) 2px solid;
    border-radius: 0.3em;
    width: 15em;
    height: 3.5em;
    margin-bottom: 2.25em;
}

button:hover {
    border: var(--grey) 2px solid;
    box-shadow: var(--black) 3px 3px 5px;
    background-color: var(--white);
}

button:focus {
    border: var(--grey) 2px solid;
    box-shadow: var(--black) 3px 3px 5px;
    background-color: var(--white);
}


/* Responsive */

@media all and (max-width: 1500px) {
    form {
        width: 40%;
    }
}

@media all and (max-width: 1150px) {
    form {
        width: 50%;
    }
}

@media all and (max-width: 900px) {
    form {
        width: 60%;
    }
}

@media all and (max-width: 750px) {
    form {
        width: 80%;
    }
}

@media all and (max-width: 300px) {
    label {
        font-size: 0.8em;
    }
}