main {
    background-color: var(--blackTransparent);
}


/* Title 1 position and color */

h2 {
    margin-left: 1%;
    font-size: 2em;
    color: var(--white);
}


/* Title 2 position and color */

h3 {
    margin-left: 1%;
    font-size: 2em;
    color: var(--white);
}


/* Text position and color */

.text1 {
    margin-left: 0.8%;
    font-size: 1.2em;
    color: var(--white);
}


/* Border color and style */

.separator {
    border-bottom: solid var(--white) 4px;
}