body {
    background-color: var(--blackTransparent);
}


/* Css for the container */

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/* Css for the presentation's picture */

.presentation {
    width: 10em;
    float: left;
    margin-right: 1em;
    border-radius: 15px;
}


/* Everything concerning the Titles */

h2 {
    padding: 0.8em 0.2em;
    font-size: 2em;
    color: var(--white);
}

h3 {
    padding: 0.5em 0.2em;
    font-size: 2em;
    color: var(--white);
}

h4 {
    padding: 0.5em 0.2em;
    font-size: 2em;
    color: var(--white);
}


/* Everything concerning the text */

.text1 {
    padding: 0.05em 0.3em;
    font-size: 1.2em;
    color: var(--white);
}

.separator {
    padding: 0.3em;
    border-bottom: solid var(--white) 4px;
}


/* Responsive */

@media all and (max-width: 20em) {
    .presentation {
        max-width: 8em
    }
}

@media all and (max-width: 380px) {
    .presentation {
        float: none;
        margin-left: 4em;
    }
    .text1 {
        font-size: 1.1em;
    }
    h2 {
        text-align: center;
    }
}

@media all and (max-width: 300px) {
    .presentation {
        float: none;
        margin-left: 3em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.5em;
    }
    .text1 {
        margin-right: auto;
        margin-left: auto;
        max-width: 90%;
    }
}