main {
    margin-top: 6em;
    margin-left: auto;
    margin-right: auto;
    color: var(--white);
    background-color: var(--blackTransparent);
    border-radius: 5px;
    border-bottom: var(--white) 2px solid;
    border-right: var(--white) 2px solid;
    width: 70%;
    margin-bottom: 6em;
}


/* Position and font parameters for the questions */

.questions {
    font-size: 1.4em;
    font-weight: bold;
    padding: 1em;
}


/* Position for the responses */

.responses {
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

.buttonFAQ {
    margin-bottom: 2em;
}