:root {
    --white: rgb(235, 235, 235);
    --whiteTransparent: rgba(235, 235, 235, 0.7);
    --black: rgb(20, 20, 20);
    --blackTransparent: rgba(0, 0, 0, 0.7);
    --grey: rgb(73, 73, 73);
}

* {
    padding: 0;
    margin: 0;
}


/* Principal parameters for all the pages */

html {
    background-image: url('../src/background.jpg');
    /* src="https://pixabay.com/fr/photos/carte-la-topographie-g%C3%A9ographie-3260506/" */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
}

.fontStyle {
    color: var(--white);
    text-shadow: 0 0 5px var(--black);
}

.textCenter {
    text-align: center;
}


/* Header */

header {
    background-color: var(--blackTransparent);
    border-bottom: solid var(--white) 3px;
}


/* Header Logo */

#logo {
    background: url('../src/logos/logo_site.png') center center no-repeat;
    background-size: 8em;
    height: 10.25em;
    float: left;
    margin-top: 0.1em;
    margin-left: 0.3em;
}


/* Header Title */

h1 {
    margin-left: 7%;
    color: var(--white);
    font-size: 2.4em;
}


/* Header Paragraph */

.pCatchphrase {
    font-size: 1.2em;
    color: var(--white);
}

.pCatchphrase {
    quotes: "\"\00A0" "\00A0\"";
}

.pCatchphrase::before {
    content: open-quote;
}

.pCatchphrase::after {
    content: close-quote;
}


/* Navbar */

nav {
    margin-top: 1em;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

li {
    text-align: center;
}

li a {
    height: 25px;
    color: var(--white);
    display: inline;
    font-size: 1.8em;
    padding: 0em 25px;
    text-decoration: none;
    width: inherit;
}

.sous {
    display: none;
    z-index: 2;
    box-shadow: 0px 1px 2px var(--blackTransparent);
    background-color: var(--blackTransparent);
    position: absolute;
}

nav>ul li:hover .sous {
    display: block;
}

.sous li {
    float: none;
    width: 100%;
}

.dropdown>a::after {
    margin-left: 4%;
    content: '▼';
    font-size: 0.7em;
}

#traces {
    width: 100px;
    filter: invert(100%);
    margin-top: -0.2em;
}

img {
    position: static;
}


/* Navbar Burger Menu */

.burgerMenuClose {
    display: none;
}


/* Icon */

.gg-close {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1.7));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 40px;
    cursor: pointer;
}

.gg-close::after,
.gg-close::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    border-radius: 5px;
    top: 8px;
    left: 1px
}

.gg-close::after {
    transform: rotate(-45deg)
}


/* Main */

main {
    margin-bottom: 4em;
}


/* Section 1 */

.sectionShowcase {
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.rowCenter {
    justify-content: center;
}

.rowSpaceAround {
    justify-content: space-around;
}

.block {
    margin-top: 4em;
    width: 13em;
    background: var(--white);
    border-radius: 0.3em;
    border: solid 2px var(--white);
    transition: all 0.3s;
    margin-left: 5em;
    margin-right: 5em;
}

.focus {
    margin-top: 4em;
    width: 20em;
}

blockquote {
    margin-top: 3em;
    max-width: 20em;
    font-size: 1.3em;
    quotes: "«\00A0" "\00A0»";
    align-self: center;
}

.blockquote::before {
    content: open-quote;
}

.blockquote::after {
    content: close-quote;
}

.middle {
    margin-top: 14em;
}

.zoom:hover {
    transform: scale(1.1);
    box-shadow: 0px 10px 20px var(--black);
}

.zoomFocus:hover {
    transform: scale(1.2);
    box-shadow: 0px 10px 20px var(--black);
}


/* Section seperator */

.sectionSeperator {
    border-top: solid 2px var(--white);
    margin-top: 4em;
    margin-left: 10em;
    margin-right: 10em;
}


/* Section 2 */

.sectionGuide {
    padding-top: 4em;
}

.couvertureGuide {
    width: 15em;
    border-radius: 0.3em;
    border: solid 2px var(--white);
}

.containerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.informationGuide {
    margin-top: 0.3em;
    margin-left: 1em;
    margin-right: 1em;
}

.informationGuide h3 {
    text-align: center;
}

.informationGuide p {
    max-width: 500px;
}

.informationGuide a {
    text-decoration: none;
    color: var(--white);
    background-color: blue;
    margin-left: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 0.28em;
    font-weight: bold;
}

.marginTop {
    margin-top: 2em;
}

#newsletterSub {
    margin-top: 2em;
}

#newsletterSubInput {
    text-align: center;
    text-decoration: none;
    color: var(--white);
    margin-left: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 0.28em;
    font-weight: bold;
    background-color: gray;
    width: 13em;
}

#newsletterSubButton {
    text-decoration: none;
    color: var(--white);
    background-color: blue;
    margin-left: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    border-radius: 0.28em;
    font-weight: bold;
}

#newsletterTitle {
    margin-top: 2em;
    color: white;
    text-shadow: 5px 5px 5px black;
}


/* Footer */

footer {
    width: 100%;
    bottom: 0;
    background-color: var(--white);
    box-shadow: 0px -5px 5px 6px var(--white);
    display: table-row;
    height: 60px;
}

.footerClass {
    display: flex;
}

.socialNetworkLogos {
    background: url('../src/logos/youtube.png') center center no-repeat;
    background-size: 3em;
    height: 3em;
    width: 3em;
}

.footerLogos {
    margin-left: 3%;
    margin-top: 0.5%;
}

.footerLinks {
    padding-top: 1.5em;
    padding-bottom: 1.7em;
    margin-left: 45em;
}

.footerLinks a {
    text-decoration: none;
    color: var(--black);
}

.footerLinks a:visited {
    color: var(--black);
}

.footerLinks a:hover {
    color: var(--grey);
}

#cguId {
    border-left: solid 0.1em var(--black);
    padding-left: 0.2em;
}

#pdcId {
    margin-right: 4px;
}


/* Responsive */

@media all and (max-width: 1530px) {
    .footerLinks {
        margin-left: 35em;
    }
}

@media all and (max-width: 1384px) {
    .footerLinks {
        margin-left: 25em;
    }
}

@media all and (max-width: 1133px) {
    /* Header */
    h1 {
        font-size: 1.5em;
        padding-top: 0.3em;
    }
    .pCatchphrase {
        font-size: 0.9em;
    }
    /* Header Logo */
    #logo {
        background: url('../src/logos/logo_site.png') center center no-repeat;
        background-size: 6.75em;
        height: 8.75em;
    }
    ul {
        justify-content: center;
    }
    nav {
        font-size: 0.8em;
    }
    /* Main */
    .block {
        margin-left: 1em;
        margin-right: 1em;
    }
    .middle {
        margin-top: 4em;
    }
    .focus {
        width: 17em;
    }
    .zoomFocus:hover {
        transform: scale(1.1);
        box-shadow: 0px 10px 20px var(--black);
    }
    /* Footer */
    .footerLinks {
        margin-left: 5em;
        margin-right: 3.5em;
    }
    .socialNetworkLogos {
        top: 1.5em;
    }
    .footerLogos {
        margin-top: 1%;
    }
}

@media only screen and (max-width: 900px) {
    /* Header */
    header {
        height: 9em;
    }
    nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        top: 30%;
    }
    ul {
        display: initial;
    }
    ul li {
        margin-bottom: 2em;
    }
    .sous {
        position: absolute;
        left: 50%;
        padding-top: 1em;
        transform: translateX(-50%);
    }
    #traces {
        display: none;
    }
    .burgerMenuOpen {
        color: var(--white);
        float: right;
        margin-top: 0.8em;
        margin-right: 2em;
        cursor: pointer;
    }
    .fa-bars {
        font-size: 2em;
    }
    .burgerMenuCloseView {
        display: initial;
        position: absolute;
        top: 0.5em;
        right: 1em;
        font-size: 3em;
        z-index: 1;
        color: var(--white);
    }
    .backdrop {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.9);
        animation: fade 0.3s;
        cursor: pointer;
        z-index: 1;
    }
    nav {
        display: none;
    }
    .ulView {
        display: initial;
    }
    @keyframes fade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

@media only screen and (min-width: 901px) {
    .burgerMenuOpen {
        display: none;
    }
}

@media all and (max-width: 445px) {
    /* Footer */
    #cguId {
        border-left: solid 0em var(--white);
    }
}

@media all and (max-width: 360px) {
    /* Header */
    .burgerMenuCloseView {
        right: 0.5em;
    }
    .pCatchphrase {
        margin-top: 0.3em;
    }
}

@media all and (max-width: 320px) {
    .burgerMenuCloseView {
        right: -0.5em;
    }
}

@media all and (max-width: 300px) {
    .burgerMenuCloseView {
        right: -1em;
    }
    /* Header */
    h1 {
        font-size: 1em;
    }
    .pCatchphrase {
        font-size: 0.8em;
    }
    /* Main */
    .focus {
        width: 15em;
    }
}