body {
    background-color: var(--blackTransparent);
}


/* Comment author */

h5 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 4em;
    margin-bottom: 1em;
}

label {
    font-weight: bold;
}


/* Comment */

.comment {
    margin: 1em;
    text-align: center;
}

.commentQuotes {
    quotes: "«\00A0" "\00A0»";
    max-width: 30em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.1em;
}

.commentQuotes::before {
    content: open-quote;
    font-weight: bold;
}

.commentQuotes::after {
    content: close-quote;
    font-weight: bold;
}