html {
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

textarea {
    font-family: sans-serif;
}

.bookAdmin {
    width: 10em;
}

.viewBook {
    width: 10em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
}

.icons {
    width: 5em;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

a {
    color: black;
    text-decoration: none;
}

#sidebarButton1 {
    border: lightgrey solid 2px;
    background-color: white;
    color: black;
    margin-top: 5%;
}

#sidebarButton2 {
    border: darkred solid 2px;
    background-color: rgb(255, 82, 82);
    color: black;
}

.editBookForm {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
}

.formContainer {
    border: black 3px solid;
    border-radius: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 27.5em;
    margin-right: auto;
    margin-left: auto;
}

.formContainerItems {
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.fa-bars {
    font-size: 1.7em;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.sidebarButtons {
    border-radius: 5px;
    cursor: pointer;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    /* width: 30%; */
}

.fas {
    cursor: pointer;
}

.flexContainer {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.flexItem {
    border: black 3px solid;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    width: 25em;
}

.flexContainer :hover {
    background-color: lightgray;
}


/* sidebar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@-moz-document url-prefix() {
    .flex-container {
        width: 100%;
    }
}