/* form style */

input {
    border-radius: 7%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

textarea {
    border-radius: 2%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

button {
    border-radius: 7%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

form {
    text-align: center;
}

.seeBio {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.seeFaq {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

#newsConf {
    color: forestgreen;
}